.somos-container {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.somos-container header {
    width: 100%;
    display: inline-block;
    margin-bottom: 5vh;
    margin-top: 4vh;
}

.somos-container header .button {
    width: 260px;
    float: right;
    margin-right: 10px;
}

.item-contato {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.somos-container section.redes {
    background: #F4F3EA;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    margin-bottom: 5vh;
    padding: 40px;
    height: fit-content;
}

.somos-container section.redes a, p {
    padding-left: 5px;
    padding-top: 5px;
    text-decoration: none;
    color: #2B2A26;
    line-height: 21px;
    font-size: 16px;
}

.somos-container section.redes a:hover {
    color: #567c3e;
}

.somos-container section.redes p:hover {
    color: #567c3e;
}

.somos-container section.redes h1 {
    color: #324c22;
    font-size: 3vh;
    margin-bottom: 10px;
}

.somos-container section.redes h1.dev-titulo {
    color: #324c22;
    font-size: 2vh;
    margin-bottom: 10px;
}

.loguinho {
    width: 70%;
    margin-left: 20%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .loguinho {
        width: 50%;
        margin-left: 26%;
        margin-bottom: 20px;
    }
}

.badgeGooglePlay {
    width: 70%;
    margin-left: 15%;
    margin-top: 2vh;
}

@media only screen and (min-width: 768px) {
    .badgeGooglePlay {
        width: 50%;
        margin-left: 23%;
        margin-top: 2vh;
    }
}

.somos-container section.informacoes {
    width: 100%;
    max-width: 600vw;
    background: #F4F3EA;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    margin-bottom: 5vh;
    padding: 40px;
    white-space: pre-wrap;
}

@media only screen and (min-width: 768px) {
    .sections {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-gap: 50px;
    }
}

.dev-section {
    padding: 5px;
    border-radius: 8px;
}

.contact-section {
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.somos-title {
    color: #324c22;
    font-size: 3vh;
    margin-bottom: 10px;
}