.new-case-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-case-container .content {
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .new-case-container .content {
        width: 100%;
        padding: 96px;
        background: #F4F3EA;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.new-case-container .content section {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;

}

@media only screen and (min-width: 768px) {
    .new-case-container .content section {
        width: 100%;
        max-width: 380px;
        display: inline;
    }
}

.back-link {
    display: none;
}

@media only screen and (min-width: 768px) {
    .back-link {
        display: block;
    }
}

.new-case-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
    color: #324c22
}

.new-case-container .content section p {
    font-size: 18px;
    color: #555e4f;
    line-height: 32px;
}

@media only screen and (min-width: 768px) {
    .new-case-container .content form {
        width: 100%;
        max-width: 450px;
    }
}

.new-case-container .content form input, .new-case-container .content form textarea {
    margin-top: 8px;
}

.new-case-container .content form .input-group {
    display: flex;
}

.new-case-container .content form .input-group input+input {
    margin-left: 8px;
}