@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #F8F8F2;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 14px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    background-color: #F6F5EE;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 16px;
}

form textarea {
    width: 100%;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    background-color: #F6F5EE;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.button {
    width: 100%;
    height: 40px;
    background: #537C3A;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    transition: filter 0.2s;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .button {
        width: 100%;
        height: 60px;
        background: #537C3A;
        border: 0;
        border-radius: 8px;
        color: #fff;
        font-weight: 700;
        margin-top: 0px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        transition: filter 0.2s;
    }
}

.button:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #324c22;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}